.portfolio__title {
  margin-top: 0;
  margin-bottom: 4px;

  color: var(--title-text-color);

  @include text(700, 18, 2, 00.06em);
}

.portfolio__description {
  margin-top: 0;
  margin-bottom: 0;

  @include text-fw400(16, 1.87, 00.03em);

  color: var(--text-color);
}
