.portfolio__thumb {
  position: relative;

  height: 100%;
  width: 100%;

  overflow: hidden;
}
.portfolio__text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(104%);

  transition-property: transform;
  @include animation-durationandtiming();
}

/*.flex-element {
  .link:hover .text-overlay,
  .link:focus .text-overlay {
    transform: translateY(0%);
  }
}*/
.portfolio__overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  margin: 0;
  width: 402px;
  //width: 322px;

  @include text-fw400(18px, 1.56, 00.03em);
  color: var(--overlay-text-color);

  @media screen and(min-width:768px) {
    width: 306px;
  }
  @media screen and(min-width:1200px) {
    width: 322px;
  }
}
