.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  min-width: 450px;

  background-color: white;
  opacity: 1;

  transition-property: transform, opacity;
  @include animation-durationandtiming();

  @media screen and(min-width:768) {
    min-width: 528px;
  }
}
.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;

  @include flex-centered();
  //display: flex;
  //align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;
  background-color: white;
  color: #000000;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.modal__close-icon {
  position: absolute;
  width: 18px;
  height: 18px;

  fill: currentColor;

  transition-property: fill;
  @include animation-durationandtiming();
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.backdrop.is-hidden {
  .modal {
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
  }
}
