body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;

  &.modal-open {
    overflow: hidden;
  }
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
a {
  text-decoration: none;
  display: block;
}
.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and(min-width:1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section--no-padding-top {
  padding-top: 0px;
}
.section--other-background {
  background-color: var(--secondary-background-color);
}
