.clients {
  display: flex;
  //justify-content: center;
  flex-wrap: wrap;
}
.clients__item {
  @include flex-centered();
  //display: flex;
  //align-items: center;
  justify-content: center;

  width: 210px;
  //width: 170px;
  height: 92px;

  padding: 0;
  margin-right: 30px;
  &:nth-child(2n + 2) {
    margin-right: 0px;
  }
  margin-bottom: 30px;
  &:nth-last-child(-n + 2) {
    margin-bottom: 0px;
  }
  //&:last-child {
  //  margin-right: 0px;
  //}
}

.clients__link {
  @include flex-centered();
  //display: flex;
  //align-items: center;
  justify-content: center;

  //width: 170px;
  width: 210px;
  height: 92px;
  border: 1px solid var(--icon-page);
  border-radius: 4px;

  padding: 0;
  color: var(--icon-page);

  transition-property: color, border;
  @include animation-durationandtiming();
  &:hover,
  &:focus {
    background-color: var(--background-color);
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
  }
}
.clients__icon {
  fill: currentColor;

  transition-property: fill;
  @include animation-durationandtiming();
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}
