.features {
  //display: flex;
}
.features__item {
  flex-basis: 450px;
  margin-top: 0;
  margin-bottom: 30px;

  //flex-basis: calc((100% - 3 * 30px) / 4);
  //align-items: center;
  //margin-right: 30px;

  //&:last-child {
  //  margin-right: 0;
  //}
}

.features__box {
  @include flex-centered();
  //display: flex;
  //align-items: center;
  justify-content: center;

  background-color: var(--secondary-background-color);
  border-radius: 4px;

  background-position: center;

  width: 450px;
  height: 120px;
  //width: 270px;

  margin-bottom: 30px;
}

.features__title {
  margin-top: 0px;
  margin-bottom: 10px;
  @extend %BOLD-TEXT-14;
  color: var(--title-text-color);
  text-align: center;
}

.features__description {
  margin-top: 0;
  margin-bottom: 0;

  @include text-fw400(14px, 1.71, 0.03em);
  //font-size: 14px;
  //line-height: 1.71;
  ///* or 171% */
  //letter-spacing: 0.03em;
}
