:root {
  --background-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --text-color: #757575;
  --hero-title: #ffffff;
  --section-title-color: #212121;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --hover-color: #188ce8;
  --footer-color: #2f303a;
  --border-color: #eeeeee;
  --border-color-header: #ececec;
  --hero-background: #2f303a;
  --icon-page: #afb1b8;
  --overlay-text-color: #ffffff;
  --white-color: #ffffff;
  --black-color: black;
}
